.toolbar__bio {
    position: absolute;
    top: 38px;
    right: 0;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    background-color: white;

    overflow: hidden;

    halfseven-toolbar-bio {
        display: flex;
        justify-content: space-between;
        flex: 0 0 0%;
        height: 0;

        overflow: hidden;
    }
}

.toolbar__bio--open {
    display: flex;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    halfseven-toolbar-bio {
        height: auto;
        flex: 1 0 0%;

        padding: 7px;
    }
}
