halfseven-toolbar {
    position: relative;
    display: flex;
    align-items: center;

    padding: 7px;

    border-bottom: 1px solid #F9F9F9;

    background-color: #EEE;
}

.toolbar__icon {
    svg {
        width: 24px;
        height: 24px;
    }

    &--bio {
        margin-left: auto;
    }
}
